img {
    width: 100%; /* Carousel item의 너비에 맞게 이미지를 조절 */
    height: 300px; /* 이미지의 높이를 원하는 크기로 조절 */
}

div.carousel-inner {

    width : 500px;
    height : 300px;
    margin: auto; /* 가운데 정렬을 위한 자동 마진 설정 */
    justify-content: center; /* 가로 방향 가운데 정렬 */

}

img.logo {
    width: 150px;
    height: 100px;
}

span.carousel-control-prev-icon {

    color : black;

}